[submodule "wegen_custom"]
	path = wegen_custom
	url = git@git.awbni.com:odoo-development/wegen_custom.git
[submodule "awb_philippine_bir"]
	path = awb_philippine_bir
	url = git@git.awbni.com:odoo-development/erp/awb_philippine_bir.git
[submodule "awb_subscription"]
	path = awb_subscription
	url = git@git.awbni.com:odoo-development/erp/subscription.git
[submodule "requisition_approval"]
	path = requisition_approval
	url = git@git.awbni.com:odoo-development/erp/requisition_approval.git
[submodule "requisition_purchase"]
	path = requisition_purchase
	url = git@git.awbni.com:odoo-development/erp/requisition_purchase.git
[submodule "requisition_material"]
	path = requisition_material
	url = git@git.awbni.com:odoo-development/erp/requisition_material.git
[submodule "contact_record"]
	path = contact_record
	url = git@git.awbni.com:odoo-development/erp/contact_record.git
[submodule "opportunity_history"]
	path = opportunity_history
	url = git@git.awbni.com:odoo-development/erp/opportunity_history.git
[submodule "account_pdc_payment_report"]
	path = account_pdc_payment_report
	url = git@git.awbni.com:odoo-development/erp/account_pdc_payment_report.git
[submodule "account_pdc"]
	path = account_pdc
	url = git@git.awbni.com:odoo-development/erp/account_pdc.git
[submodule "purchase_sales_summary_report"]
	path = purchase_sales_summary_report
	url = git@git.awbni.com:odoo-development/erp/purchase_sales_summary_report.git
